.create-employee-form {
    margin: 20px 0px 20px 0px;
}
 
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}    

h3 {
    font-style: italic;
}

.form-element {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px 0;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    font-size: 1.2rem;
}

input:invalid, select:invalid {
    border: 2px solid red;
}

::placeholder {
    font-size: 0.8em;
}
  
.form-select {
    width: 105%;
    padding: 5px;
    font-size: 1.2rem;
    border: 1px solid #b6b3b3;
    overflow: hidden;
    background-color: #fff;
}

.save-button {
    display: block;
    width: 20%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #708622;
    border-radius: 5px;
    background-color: #708622;
    color: #fff;
    cursor: pointer;
}

.save-button:disabled {
    background-color: gray;
}
      